@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "_Layout";
}
<h1>@ViewData["Title"]</h1>


<p>Hoşgeldiniz Furkan & Resul & Nuray & Hüseyin  </p>

<a class="btn btn-success" asp-area="" asp-controller="Login" asp-action="ChangePassword"><i class="fa fa-user"></i>Şifremi Değiştir</a>
<div>
    <a class="btn btn-danger" asp-area="" asp-controller="Login" asp-action="LogOut"><i class="fa fa-user"></i> Çıkış Yap </a>
</div>