@{
    Layout = "_CustomerLayout";
}
<style>
    .shoping__cart__item_cart{
      width:50px;
      height:50px;
    }
</style>

<!-- Shoping Cart Section Begin -->
<section class="shoping-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="shoping__cart__table">
                    <table>
                        <thead>
                            <tr>
                                <th class="shoping__product">ÜRÜN</th>
                                <th >MARKET</th>
                                <th>FİYAT</th>
                                <th>ADET</th>
                                <th>TOPLAM</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                          
                          
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="shoping__cart__btns">
                    <a asp-area="Customer" asp-controller="Shop" asp-action="HomePage" class="primary-btn cart-btn">ALIŞVERİŞE DEVAM ET</a>
                    <a href="#" onclick="clearCart()" class="primary-btn cart-btn cart-btn-right">
                        <span class="icon_loading"></span>
                       SEPETİ TEMİZLE
                    </a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="shoping__continue">
                    <div class="shoping__discount">
                        <h5>İndirim Kodu</h5>
                        <form action="#">
                            <input type="text" placeholder="Kupon kodunu girin">
                            <button type="submit" class="site-btn">KUPONU UYGULA</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="shoping__checkout">
                    <h5>TOPLAM TUTAR</h5>
                    <ul>
                        <li>ALIŞVERİŞ TUTARI <span id="alısverisTutari"></span></li>
                        <li>ÖDEME TUTARI <span id="odemeTutari"></span></li>
                    </ul>
                    <a href="#" id="paymentId" class="primary-btn">SİPARİŞİ TAMAMLA</a>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="~/js/shopping_cart.js"></script>
<script src="~/js/remove_from_cart.js"></script>
<script src="~/js/cart_decrease_increase_handler.js"></script>
<script src="~/js/shopping_cart_cline.js"></script>
<script>

    function renderCartItems() {
        var cart = getCartFromLocalStorage();
        var tableBody = document.querySelector('.shoping__cart__table tbody');
        var totalAmount = 0;
        // Tabloyu temizle
        tableBody.innerHTML = '';

        // Sepet ürünlerini dolaşarak tabloya ekleyin
        for (var i = 0; i < cart.length; i++) {
            var item = cart[i];
            // Ürün satırını oluşturun
            var row = document.createElement('tr');


            // Ürün resmi sütunu
            var imageCell = document.createElement('td');
            imageCell.className = 'shoping__cart__item_cart';
            var image = document.createElement('img');
            image.src = item.productPhotoPath;
            image.alt = item.productTitle;
            imageCell.appendChild(image);
            var productTitleCell = document.createElement('h5');
            var productFullNameCell = document.createElement('h6');
            productTitleCell.innerText = item.productTitle.toUpperCase();
            productFullNameCell.innerText = `${item.productName} ${item.productQuantity} ${item.productUnit}`;
            imageCell.appendChild(productTitleCell);
            imageCell.appendChild(productFullNameCell);
            row.appendChild(imageCell);

            // Market sütunu
            var marketCell = document.createElement('td');
            marketCell.innerText = item.marketName;
            row.appendChild(marketCell);

            // Fiyat sütunu
            var priceCell = document.createElement('td');
            priceCell.className = 'shoping__cart__price';
            priceCell.innerText = item.productPrice + ' TL';
            row.appendChild(priceCell);

            // Adet sütunu

            var quantityCell = document.createElement('td');
            quantityCell.className = 'shoping__cart__quantity';
            var quantityDiv = document.createElement('div'); 
            quantityDiv.className = 'quantity'; 
            var proQtyDiv = document.createElement('div');
            proQtyDiv.className = 'pro-qty';
            var quantityInput = document.createElement('input');
            quantityInput.type = 'text'; 
            quantityInput.value = item.quantity; // Varsayılan değeri burada belirleyebilirsiniz
            proQtyDiv.appendChild(quantityInput); 
            var decreaseButton = document.createElement('span');
            decreaseButton.textContent = '-';
            decreaseButton.addEventListener('click', createDecreaseHandler(item.productId, item.marketId, quantityInput));
            var increaseButton = document.createElement('span');
            increaseButton.textContent = '+'; 
            increaseButton.addEventListener('click', createIncreaseHandler(item.productId,item.productStock, item.marketId, quantityInput));
            proQtyDiv.appendChild(decreaseButton); 
            proQtyDiv.appendChild(increaseButton);
            quantityDiv.appendChild(proQtyDiv);
            quantityCell.appendChild(quantityDiv); 
            row.appendChild(quantityCell);
           
 
              // Toplam sütunu
            var totalCell = document.createElement('td');
            totalCell.className = 'shoping__cart__total';
            totalCell.innerText = (item.productPrice * quantityInput.value) + ' TL'; // Toplam tutarı burada hesaplayabilirsiniz
            row.appendChild(totalCell);
            var totalPrice = item.productPrice * quantityInput.value;
            totalAmount += totalPrice;

            

            // Kaldırma sütunu
            var removeCell = document.createElement('td');
            removeCell.className = 'shoping__cart__item__close';
            var removeIcon = document.createElement('span');
            removeIcon.className = 'icon_close';

            removeIcon.addEventListener('click', createRemoveHandler(item.productId, item.marketId));
            removeCell.appendChild(removeIcon);
            row.appendChild(removeCell);

            // Satırı tabloya ekle
            tableBody.appendChild(row);
        }
        var alısverisTutariSpan = document.getElementById('alısverisTutari'); 
        var odemeTutariSpan = document.getElementById('odemeTutari');
        var alısverisTutarı = (Math.round(totalAmount * 100) / 100).toFixed(2);
        var odemeTutarı = (Math.round(totalAmount * 1.18*100)/100).toFixed(2);
        alısverisTutariSpan.innerText = alısverisTutarı + ' TL';
        odemeTutariSpan.innerText = odemeTutarı + ' TL';
       

        //toplam alışveriş tutarına göre alışverişi tamamla butonunun oluşturulması

        var checkoutDiv = document.querySelector('.shoping__checkout');
        var existingPaymentLink = document.querySelector('#paymentId');

        if (!(alısverisTutarı > 0)) {
            if (existingPaymentLink) {
                //existingPaymentLink.remove();
                existingPaymentLink.href = "#";
            }
                 
        } 
        else {
                existingPaymentLink.href = '@Url.Action("CreditCardPaymentPage", "Cart", new { area = "Customer" })';
                existingPaymentLink.innerText = "SİPARİŞİ TAMAMLA";           
        }
       
       



    }

    // Sayfa yüklendiğinde sepet ürünlerini render et
    window.addEventListener('DOMContentLoaded', function () {
        renderCartItems();
    });
</script>


<script>
  
    function createIncreaseHandler(productId, productStock, marketId, quantityInput) {
        return function () {
            var quantity = parseInt(quantityInput.value);
            if (quantity < productStock) {
                quantity++;
                quantityInput.value = quantity;
                updateCartItemQuantity(productId, marketId, quantity);
            } else {
                // Sayfa yenilenerek sayı item.productStock miktarına eşitlensin
                location.reload();
            }
            renderCartItems();
        };
    }
   

  
</script>