@{
    Layout = "_CustomerLayout";
}
<style>

.shoping__cart__item_cart{
    width:50px;
    height:50px;
}
</style>

<!-- Shoping Cart Section Begin -->
<section class="shoping-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="shoping__cart__table">
                    <table>
                        <thead>
                            <tr>
                                <th class="shoping__product">ÜRÜN</th>
                                <th >MARKET</th>
                                <th>FİYAT</th>
                                <th>ADET</th>
                                <th>TOPLAM</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                          
                          
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="shoping__cart__btns">
                    <a asp-area="Customer" asp-controller="Shop" asp-action="HomePage" class="primary-btn cart-btn">ALIŞVERİŞE DEVAM ET</a>
                    <a href="#" class="primary-btn cart-btn cart-btn-right">
                        <span class="icon_loading"></span>
                        SEPETİ GÜNCELLE
                    </a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="shoping__continue">
                    <div class="shoping__discount">
                        <h5>Discount Codes</h5>
                        <form action="#">
                            <input type="text" placeholder="Enter your coupon code">
                            <button type="submit" class="site-btn">APPLY COUPON</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="shoping__checkout">
                    <h5>TOPLAM TUTAR</h5>
                    <ul>
                        <li>ALIŞVERİŞ TUTARI <span>454.98 TL</span></li>
                        <li>ÖDEME TUTARI <span>454.98 TL</span></li>
                    </ul>
                    <a href="#" class="primary-btn">PROCEED TO CHECKOUT</a>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="~/js/shopping_cart.js"></script>
<script src="~/js/remove_from_cart.js"></script>
<script>

    function renderCartItems() {
        var cart = getCartFromLocalStorage();
        var tableBody = document.querySelector('.shoping__cart__table tbody');


        // Tabloyu temizle
        tableBody.innerHTML = '';


        // Sepet ürünlerini dolaşarak tabloya ekleyin
        for (var i = 0; i < cart.length; i++) {
            var item = cart[i];


            // Ürün satırını oluşturun
            var row = document.createElement('tr');


            // Ürün resmi sütunu
            var imageCell = document.createElement('td');
            imageCell.className = 'shoping__cart__item_cart';
            var image = document.createElement('img');
            image.src = item.productPhotoPath;
            image.alt = item.productTitle;
            imageCell.appendChild(image);
            var productNameCell = document.createElement('h5');
            productNameCell.innerText = item.productTitle;
            imageCell.appendChild(productNameCell);
            row.appendChild(imageCell);

            // Market sütunu
            var marketCell = document.createElement('td');
            marketCell.innerText = item.marketName;
            row.appendChild(marketCell);

            // Fiyat sütunu
            var priceCell = document.createElement('td');
            priceCell.className = 'shoping__cart__price';
            priceCell.innerText = item.productPrice + ' TL';
            row.appendChild(priceCell);

            // Adet sütunu
            var quantityCell = document.createElement('td');
            quantityCell.className = 'shoping__cart__quantity';
            var quantityDiv = document.createElement('div');
            quantityDiv.className = 'quantity';
            var proQtyDiv = document.createElement('div');
            proQtyDiv.className = 'pro-qty';
            var quantityInput = document.createElement('input');
            quantityInput.type = 'text';
            quantityInput.value = item.quantity; // Varsayılan değeri burada belirleyebilirsiniz
            proQtyDiv.appendChild(quantityInput);
            quantityDiv.appendChild(proQtyDiv);
            quantityCell.appendChild(quantityDiv);
            row.appendChild(quantityCell);

            // Toplam sütunu
            var totalCell = document.createElement('td');
            totalCell.className = 'shoping__cart__total';
            totalCell.innerText = (item.productPrice * quantityInput.value) + ' TL'; // Toplam tutarı burada hesaplayabilirsiniz
            row.appendChild(totalCell);

            // Kaldırma sütunu
            var removeCell = document.createElement('td');
            removeCell.className = 'shoping__cart__item__close';
            var removeIcon = document.createElement('span');
            removeIcon.className = 'icon_close';

            removeIcon.addEventListener('click', createRemoveHandler(item.productId, item.marketId));
            removeCell.appendChild(removeIcon);
            row.appendChild(removeCell);

            // Satırı tabloya ekle
            tableBody.appendChild(row);
        }
    }

    // Sayfa yüklendiğinde sepet ürünlerini render et
    window.addEventListener('DOMContentLoaded', function () {
        renderCartItems();
    });
</script>


