<header class="header_section">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container">
            <a class="navbar-brand" href="index.html">
                <img src="images/logo.png" alt=""><span>
                    Zezmon
                </span>
            </a>

            <div class="navbar-collapse" id="">
                <div class="container">
                    <div class=" mr-auto flex-column flex-lg-row align-items-center">
                        <div class="d-none d-lg-flex">
                           <ul class="navbar-nav justify-content-between ">
                               <li class="nav-item">
                                 <a class="nav-link" href="fruit.html">
                                    Customer Number : 01234567890
                                 </a>
                                </li>
                               <li class="nav-item">
                                  <a class="nav-link" href="service.html">
                                    Demo@gmail.com
                                  </a>
                               </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="contact.html">
                                        Login / Register
                                    </a>
                                </li>
                                <form class="form-inline my-2 ml-5 mb-3 mb-lg-0">
                                    <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit"></button>
                                </form>
                           </ul>
                        </div>
                    </div>

                </div>
            </div>

            <div class="custom_menu-btn">
                <button onclick="openNav()"></button>
            </div>
            <div id="myNav" class="overlay">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
                <div class="overlay-content">
                    <a href="index.html">HOME</a>
                    <a href="product.html">PRODUCTS</a>
                </div>
            </div>
        </nav>
    </div>

</header>
