@font-face {
    font-family: "Muli-Regular";
    src: url("../fonts/muli/Muli-Regular.ttf");
}

@font-face {
    font-family: "Muli-SemiBold";
    src: url("../fonts/muli/Muli-SemiBold.ttf");
}

@font-face {
    font-family: "Muli-Bold";
    src: url("../fonts/muli/Muli-Bold.ttf");
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: "Muli-Regular";
    color: #666;
    font-size: 13px;
    margin: 0;
    display: grid;
    place-items: center;
    background-image: url('../image/atsepeteloginpage2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    filter: grayscale(50%);
    opacity: 0.85;
}
.content {
    width: 330px;
    padding: 40px 30px;
    background: #dde1e7;
    border-radius: 10px;
    box-shadow: -3px -3px 7px #ffffff73, 2px 2px 5px rgba(94,104,121,0.288);
}
    .content label {
        font-size: 20px;
        font-weight: bold;
    }


input, textarea, select, button {
    font-family: "Muli-Regular";
    color: #333;
    font-size: 13px;

}
div{
    margin-bottom:5px;
}
p, h1, h2, h3, h4, h5, h6, ul {
    margin: 0;
}

img {
    max-width: 100%;
}

ul {
    padding-left: 0;
    margin-bottom: 0;
}

a:hover {
    text-decoration: none;
}

:focus {
    outline: none;
}

.wrapper {
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.inner {
    min-width: 700px;
    margin: auto;
    padding-top: 68px;
    padding-bottom: 48px;

}

    .inner h3 {
        text-transform: uppercase;
        font-size: 22px;
        font-family: "Muli-Bold";
        text-align: center;
        margin-bottom: 32px;
        color: #333;
        letter-spacing: 2px;
    }

form {
    width: 100%;

}

.form-group {
    display: flex;
}

    .form-group .form-wrapper {
        width: 50%;
    }

        .form-group .form-wrapper:first-child {
            margin-right: 20px;
        }

.form-wrapper {
    margin-bottom: 17px;
}

    .form-wrapper label {
        margin-bottom: 9px;
        display: block;
    }

.form-control {
    /* border: 2px solid #bbbaba;
    display: block;
    width: 100%;
    height: 40px;
    padding: 0 20px;
    border-radius: 20px;*/
    /*background: none;*/

    font-family: "Muli-Bold";
    height: 100%;
    width: 100%;
    padding-left: 45px;
    padding-top: 5px;
    padding-bottom: 5px;
    outline: none;
    border: none;
    font-size: 18px;
    background: #dde1e7;
    color: #595959;
    border-radius: 25px;
    box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px #ffffff73;
}

    .form-control:focus {
      
        box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #ffffff73;
    }

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    padding-left: 20px;
}

    select option[value=""][disabled] {
        display: none;
    }

button {
    margin: 15px 0;
    width: 100%;
    height: 50px;
    font-size: 18px;
    line-height: 50px;
    font-weight: 600;
    background: #dde1e7;
    border-radius: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    color: #595959;
    box-shadow: 2px 2px 5px #BABECC, -5px -5px 10px #ffffff73;
}

    button:focus {
        color: #3498db;
        box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px #ffffff73;
    }

.checkbox {
    position: relative;
}

    .checkbox label {
        padding-left: 22px;
        cursor: pointer;
    }

    .checkbox input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

        .checkbox input:checked ~ .checkmark:after {
            display: block;
        }

.checkmark {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 12px;
    width: 13px;
    border-radius: 2px;
    background-color: #ebebeb;
    border: 1px solid #ccc;
    font-family: Material-Design-Iconic-Font;
    color: #000;
    font-size: 10px;
    font-weight: bolder;
}

    .checkmark:after {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;
        content: '\f26b';
    }

@media (max-width: 991px) {
    .inner {
        min-width: 768px;
    }
}

@media (max-width: 767px) {
    .inner {
        min-width: auto;
        background: none;
        padding-top: 0;
        padding-bottom: 0;
    }

    form {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
    }
}

/*# sourceMappingURL=style.css.map */
