@model AtSepete.UI.Models.ChangePasswordVM
@{
    ViewData["Title"] = "Şifremi Değiştir";
    Layout = "_LoginLayout";
}



<div class="content" style="background-color:#FCD7A6">
    <div class="text">
        Şifremi Değiştir
    </div>
    <form asp-action="ChangePassword">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="field">
            <input asp-for="Email" type="text" class="form-control" readonly />
            <span class="fas fa-user"></span>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="field">
            <input asp-for="CurrentPassword" type="password" class="form-control" placeholder="Şifre" />
            <label asp-for="CurrentPassword">Şifre</label>
            <span class="fas fa-lock"></span>
        </div>
            <span asp-validation-for="CurrentPassword" class="text-danger"></span>
        <div class="field">
            <input asp-for="NewPassword" type="password" class="form-control" placeholder="Yeni Şifre"/>
            <label asp-for="NewPassword">Yeni Şifre</label>
            <span class="fas fa-lock"></span>
        </div>
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        <button>Oluştur</button>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
