@model AtSepete.UI.Models.ForgetPasswordVM
@{
    ViewData["Title"] = "Şifremi Unuttum";
    Layout = "_LoginLayout";
}

<div class="content" style="background-color:#FCD7A6">
    <div class="text" style="font-size:22px;">
        Şifremi Unuttum
    </div>
    <form asp-action="ForgetPassword">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="field">
            <input asp-for="Email" type="text" class="form-control" placeholder="Email" />
            <label asp-for="Email">Email</label>
            <span class="fas fa-user"></span>
        </div>
        <button>Gönder</button>
            <span asp-validation-for="Email" class="text-danger"></span>
    </form>
</div>


@section Scripts { 
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
   
}
