@model AtSepete.UI.Models.ForgetPasswordVM
@{
    ViewData["Title"] = "ForgetPassword";
}

<h1>Şifremi Unuttum</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ForgetPassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<partial name="~/Views/Partials/LoginPartials/_ChangePassword.cshtml">


@section Scripts { 
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
   
}
