@model AtSepete.UI.Models.LoginVM
@*@inject IConfiguration configuration;*@

@{
    ViewData["Title"] = "AtSepete Giriş";
    Layout = "_LoginLayout";

}


<div class="content" style="background-color:#FCD7A6">
    <div class="text">
        Giriş 
    </div>
    <form asp-action="Login">
        <div class="field">
            <input asp-for="Email" type="text" class="form-control" required/>
            <label asp-for="Email">Email</label>
            <span class="fas fa-user"></span>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="field">
            <input asp-for="Password" type="password" class="form-control" required/>
            <label asp-for="Password">Şifre </label>
            <span class="fas fa-lock"></span>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="forgot-pass">
            <a asp-area="" asp-controller="Login" asp-action="ForgetPassword">Şifremi Unuttum</a>
        </div>
        <button>Giriş Yap</button>
        <div class="sign-up">
             Üye değil misin?
            <a asp-area="" asp-controller="Login" asp-action="Register">Kayıt Ol</a>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
