@model AtSepete.UI.Models.LoginVM
@*@inject IConfiguration configuration;*@

@{
    ViewData["Title"] = "Login";
    //var clientId = configuration["AppGoogle:GoogleClientId"];
}

<h1>Login</h1>

<h4>LoginVM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
        <div>
            <a class="btn btn-success" asp-area="" asp-controller="Login" asp-action="LogOut"><i class="fa fa-user"></i> Çıkış Yap </a>
             
        </div>
        <div>
<a class="btn btn-outline-secondary" href="https://accounts.google.com/o/oauth2/v2/auth?client_id=607235410100-i0sted81d99qd8dk34lm25vehg7fpj3b.apps.googleusercontent.com&redirect_uri=https://localhost:7290/signin-google&response_type=code&scope=openid%20email%20profile"><i class="fa fa-user"></i> Google</a>

        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
