@model AtSepete.UI.Models.NewPasswordVM

@{
    ViewData["Title"] = "NewPassword";
}


<h4>Yeni Şifre </h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="NewPassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Token"  />

            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" readonly />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SecondPassword" class="control-label"></label>
                <input asp-for="SecondPassword" class="form-control" />
                <span asp-validation-for="SecondPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Kaydet" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
