@model AtSepete.UI.Models.NewPasswordVM

@{
    ViewData["Title"] = "Yeni Şifre Oluştur";
    Layout = "_LoginLayout";
}


<div class="content" style="background-color:#FCD7A6">
    <div class="text">
        Yeni Şifre
    </div>
    <form asp-action="NewPassword">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Token" />
        <div class="field">
            <input asp-for="Email" type="text" class="form-control" readonly/>
            <span class="fas fa-user"></span>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="field">
            <input asp-for="Password" type="password" class="form-control" required />
            <label asp-for="Password">Şifre</label>
            <span class="fas fa-lock"></span>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="field">
            <input asp-for="SecondPassword" type="password" class="form-control" required />
            <label asp-for="SecondPassword">Şifre(Tekrar)</label>
            <span class="fas fa-lock"></span>
            <span asp-validation-for="SecondPassword" class="text-danger"></span>
        </div>
        <button>Oluştur</button>
    </form>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
